.genreBox {
  width: 300px;
  height: 150px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://lastfm.freetls.fastly.net/i/u/174s/185a38ca7368d2c9ad9cb9ea95ae05f4.png");
}

p {
  color: #000000;
  text-transform: uppercase;
}
