mat-card {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
mat-card:hover{
  cursor: pointer;
}
mat-card-title{
  text-transform: uppercase;
}
