mat-card {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
mat-card:hover {
  cursor: pointer;
}
mat-card-title {
  text-transform: uppercase;
}
mat-card-content {
  position: relative;
}
.img {
  width: 174px;
  height: 174px;
  transform: rotate(-45deg);
  position: absolute;
  left: 42px;
  top: -10px;
}
