mat-card {
  width: 174px;
  position: relative;
  cursor: pointer;
}
mat-card-header{
  background: black;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity .5s;
  border-radius: 3px;
}
mat-card-title, mat-card-subtitle {
  color: white;
  text-align: center;
}
mat-card:hover mat-card-header {
  opacity: 0.85;
}
img {
  border-radius: 3px;
}
